*{
    margin: 0;
    padding: 0;
}

body{
    width: 430px;
    height: 500px;
}

#colList{
    height: 450px;
    overflow: auto;
}

.left div{
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin:5px 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.middle{
    display: inline-block;
    margin-top: 15px;
    width:50%;
}

.middle p{
    font-size: 13px;
    margin-top: 5px;
}

.right{
    vertical-align: top;
    display: inline-block;
    margin-top:0px;
}

.right p{
    font-size: 13px;
    margin-bottom:8px;
}

.right p:first-child{
    margin-top: 15px;
}

li{
    width: 100%;
    overflow: hidden;
}

#colList li:hover{
    background-color: rgb(241,241,241);
}

#colList li a{
    text-decoration: none;
    color: black;
}

#colList li a:active{
    text-decoration: none;
    color: black;
}

#colList li a:visited{
    text-decoration: none;
    color: black;
}

#colList li a:hover{
    color: black;
    text-decoration: none;
}

.del-col{
    display: inline-block;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.badge{
    padding: 5px;
    background-color: brown;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 10px;
}